$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: Helvetica,Arial,sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: space-between;
}

main {
  margin: 0 40px;
  flex: 1;
}

.centered {
  text-align: center;
}