.mission-header {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin: 30px 0;
  color: #000000;
}

.mission-header-highlight {
  color: #367532;
}

.demo {
  width: 60%;
  margin: 40px 0;
}

.demo img {
  max-width: 100%;
  height: auto;
}
