.table-of-contents {
  position: fixed;
  border: 1px dashed #d1d1d1;
  right: 20px;
  top: 140px;
  padding: 4px 20px;
  background: rgba(255, 255, 255, .9) ;
}

.how-to-use-video {
  display: flex;
}

.video {
  width: 560px
}

.video-info {
  padding: 20px;
  float: right;
  width: 50%;
}